<div class="dialog">

  <h2>Add New User</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div formGroupName="name">
      <label>First Name</label>
      <input formControlName="first" />
      @if (form.get('name.first')?.invalid && form.get('name.first')?.touched) {
        <p class="error">Required, max 18 chars</p>
      }

      <label>Last Name</label>
      <input formControlName="last" />
      @if (form.get('name.last')?.invalid && form.get('name.last')?.touched) {
        <p class="error">Required, max 18 chars</p>
      }
    </div>

    <label>Email</label>
    <input formControlName="email" />
    @if (form.get('email')?.invalid && form.get('email')?.touched) {
      <p class="error">Invalid email</p>
    }

    <div formGroupName="passwordGroup">
      <label>Password</label>
      <input type="password" formControlName="password" />

      @if (form.get('passwordGroup.password')?.invalid && form.get('passwordGroup.password')?.touched) {
        <p class="error">Min 6 chars</p>
      }

      <label>Confirm Password</label>
      <input type="password" formControlName="confirm" />

      @if (form.get('passwordGroup')?.errors?.['mismatch']) {
        <p class="error">Passwords do not match</p>
      }
    </div>

<label>Category</label>

<div class="category-list">
  @for (c of categories; track $index) {
    <button
      type="button"
      class="cat-btn"
      [class.selected]="form.get('category')?.value === c"
      (click)="form.get('category')?.setValue(c)"
    >
      {{ c }}
    </button>
  }
</div>

@if (form.get('category')?.invalid && form.get('category')?.touched) {
  <p class="error">Please choose a category</p>
}


    <div class="buttons">
      <button type="button" (click)="cancel.emit()">Cancel</button>
      <button type="submit" [disabled]="form.invalid">Save</button>
    </div>

  </form>
</div>
